# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Flask
instance/
*.log

# Temporary downloader files
dl_*/
downloads/
*.part
*.ytdl

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Python cache
.pytest_cache/
.mypy_cache/

# Local temporary files
tmp/
temp/
